.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



input[type='text']{
  width: 300px;
  font-size: 20px;
}

.info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 50px rgba(214, 215, 216, 1.5);
  padding: 30px 30px 32px 30px;
  border-radius: 4px;
}

input[type='password']{
  width: 300px;
  font-size: 20px;
}

input[type='submit']{
  width: 100px;
  font-size: 20px;
}

.container {
  width: 40%;
}

.preauth{
  padding: 40px;
  margin-left: 120px;
  margin-right: 130px;
  color: #444444;
 
  box-shadow: 0 0 50px rgba(214, 215, 216, 1.5);
  padding: 30px 0px 32px 60px;
  border-radius: 4px;

}

.LabelClass{
  padding-bottom: 1px;
  font-size: 18px;
  font-weight: bold;
}

.PastIllnessLabel {
  font-size: 20px;
  /* margin-left: 20px; */
  color: black;
}

.formDiv {
  background-color: #f0f5f5;
  padding: 50px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

.submitBtn {
  width: 100%;
  border: none;
  padding: 10px;
  color: #fff;
  background-color: blueviolet;
}

.productCard {
  background-color: #f0f5f5;
  padding: 10px;
  margin-bottom: 15px;
  height: 100px;
}

.cardArea {
  padding: 50px;
}
